@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "pretendar";
  src: url("./assets/fonts/Pretendar.ttf") format("truetype");
}
@font-face {
  font-family: "bmjua";
  src: url("./assets/fonts/BMJUA.ttf") format("truetype");
}
@font-face {
  font-family: "passion";
  src: url("./assets/fonts/Passion.ttf") format("truetype");
}
.font-bmjua {
  font-family: "bmjua", pretendar, Arial;
}
.font-passion {
  font-family: "passion", pretendar, Arial;
}
.w-100 {
  width: 90%;
}
.colLine::after {
  content: "";
  border-left: 1px solid #f3f3f6;
  height: 100%;
}
body {
  font-family: "pretendar", Arial;
}
.hover-scale {
  transition: transform 0.3s ease;
}

.hover-scale:hover {
  transform: scale(1.05);
}

@keyframes shakeAnimation {
  0% {
    transform: translateX(-5px);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shakeAnimation 0.4s ease-in-out;
}

@layer utilities {
  .pl-percent-13 {
    padding-left: 13%;
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  max-height: 170px; /* 최대 높이 설정 */
}

.ellipsis-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 32px; /* 최대 높이 설정 */
}
